---
layout: default
---

<!-- Slider Start -->
<section id="slider">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-2">
        <div class="block">
		<h1 class="animated fadeInUp">{{ page.title }}</h1>
		<p class="animated fadeInUp">{{ page.subtitle }} </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Wrapper Start -->
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-1 col-md-5 col-sm-10 col-sm-offset-1">
        <div class="block">
	  <div class="section-title">
	    <h2>About me</h2>
	  </div>
	  {{content}}
	</div>
      </div><!-- .col-md-7 close -->
      <div class="col-md-5 col-sm-10 col-sm-offset-1">
        <div class="block">
		<img src="{{page.photo}}" class="img-circle" alt="Photo">
        </div>
      </div><!-- .col-md-5 close -->
    </div>
  </div>
</section>

<!-- <section id="feature"> -->
<!-- <div class="container"> -->
<!--   <div class="row"> -->
<!--     <div class="col-md-6 col-md-offset-6"> -->
<!--       <h2>WE BELIEVE IN GREAT IDEAS</h2> -->
<!--       <p>Maecenas faucibus mollis interdum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p> -->
<!--       <p>Maecenas faucibus mollis interdum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p> -->
<!--       <p>Maecenas faucibus mollis interdum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p> -->
<!--       <a href="#" class="btn btn-view-works">View Works</a> -->
<!--     </div> -->
<!--   </div> -->
<!-- </div> -->
<!-- </section> -->
<!--  -->
