---
layout: page
---


    <!-- Portfolio Start -->
<section id="portfolio-work">
    <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="block">
	      <div class="portfolio-menu">
		<ul>
		    <li class="filter" data-filter="all">Everything</li>
		   {% for label in site.data.research.labels%}
		   <li class="filter" data-filter=".{{label.tag}}">{{label.name}}</li>
		    {% endfor %}
		</ul>
	      </div>
              <div class="portfolio-contant">
                <ul id="portfolio-contant-active">
		   {% for topic in site.data.research.topics %}
		   <li class="mix {% for label in topic.labels %} {{label.tag}} {% endfor %}">
			   <a href="{{ topic. url}}">
			      <img src="{{ site.baseurl }}/{{ topic.img }}" alt="">
                        <div class="overly">
                          <div class="position-center">
				  <h2>{{ topic.title}}</h2>
                            <!-- <p>Labore et dolore magna aliqua. Ut enim ad </p> -->
                          </div>
                        </div>
                      </a>
                  </li>
		  {% endfor %}

                </ul>
              </div>
            </div>
          </div>
        </div>
    </div>
</section>
